<%- include('partials/header') %>
<main>
    <h1><%= title %></h1>
    <!-- Put your page-specific content here -->

    <h4>Crystal Paulino</h4>
    <p>I am from the Dominican Republic and came to BYU Idaho hoping to seek higher education and open doors in my future.</p>
    <p>I love living the Gospel of Jesus Christ, learning new things about God, going to church and ministering. I also enjoy playing pickleball and volleyball. I am interested in languages.</p>
</main>
<%- include('partials/footer') %>